#form h3 {
	text-align: center;
}
#form h4 {
	text-align: center;
}
#form .contenedor{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;	
}

#form articule {
	margin: 15px;
}

#form img{
	height: 150px;
	width: 100%;
	max-width: 280px;
}
form-dona{
    margin-top: 150px;
}
